Face_Recognition/dataset
Face_Recognition/trainer/trainer.yml
Face_Recognition/__pycache__
Cloud_Backend/__pycache__
Object_Detection/python/yolov3.weights
input/
output/
face_processing/
Object_Detection/__pycache__
STAMP_Support/__pycache__
PlutoX/plutox/msg/__pycache__
PlutoX/plutox/server/__pycache__
PlutoX/plutox/API/__pycache__
yolo_processing/